* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  aspect-ratio: 375 / 5410;
  overflow-x: hidden !important;
  height: 100%;
  min-height: 1em;
  font-family: Lato, sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}

#container {
  width: 100%;
  aspect-ratio: 375 / 1586;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #e5e5e5;
  background-image: url("../images/base-about-mobile2.jpg");
  background-size: cover;
  background-position: center;
}

#header {
  width: 100%;
  aspect-ratio: 375 / 70;
  background: transparent;
  border: none;
}

#nav-banner {
  display: none;
}

#navigation {
  display: none;
}

#hamburg-menu {
  position: absolute;
  width: 10%;
  aspect-ratio: 1 / 1;
  top: 1%;
  left: 5%;
  background: transparent;
}

#hamburg-menu-button {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  background-image: url("../images/hamburg-menu.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#about {
  width: 100%;
  aspect-ratio: 375 / 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#about > h1 {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 8vw;
  line-height: 8vw;
  color: #ec5242;
  font-family: Paytone One, sans-serif;
}

#about > h2 {
  width: 100%;
  margin: 4vw 0 5vw 0;
  text-align: center;
  font-weight: 700;
  font-size: 5.2vw;
  line-height: 4vw;
  color: #ec5242;
}

#about > p {
  width: 90%;
  padding: 4vw 2vw 4vw 2vw;
  margin: 11vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  line-height: 6vw;
  color: #333;
  border: 0.2vw solid gray;
  background: white;
}

#about > p::after {
  content: 'The Global Summit brings together the community of experts, academics, and activists who comprise the Creative Commons affiliate network in a different country every two years.This year, we hope to expand our invitation list including organizations and individuals.';
}

#about > h5 {
  width: 100%;
  padding: 0 12vw 0 12vw;
  margin: 5vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  line-height: 5vw;
  color: #333;
}

#about > h6 {
  width: 100%;
  margin: 0 0 2vw 0;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  line-height: 6vw;
  color: #333;
}

#logo-description {
  width: 100%;
  aspect-ratio: 375 / 318;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.2vw solid lightgray;
  background: white;
}

#logo-description > h2 {
  width: 58%;
  margin: 7vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 5vw;
  line-height: 6vw;
  color: #333;
}

#logo-description > p {
  width: 68%;
  margin: 7vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 2.94vw;
  line-height: 3.5vw;
  color: #333;
}

#logo-description > p::after {
  content: 'The logo of CC Global Summit 2015 was decided through the logo competition from 8, June to 7, July.';
}

#logo-description > img {
  width: 88vw;
  margin: 10vw 0 0 0;
}

#see-past {
  width: 100%;
  aspect-ratio: 375 / 520;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.2vw solid lightgray;
}

#see-past > h2 {
  width: 100%;
  margin: 8vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 4.7vw;
  line-height: 4vw;
  color: #333;
}

#see-past > p {
  width: 85%;
  margin: 7vw 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 3vw;
  line-height: 4vw;
  color: #333;
}

#see-past > div {
  width: 100%;
  margin: 8vw 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#partners {
  width: 100%;
  aspect-ratio: 375 / 175;
  display: block;
  background: #414246;
}

#partners-title {
  background: transparent;
  padding: 7vw 0 0 0;
  margin: 0;
  text-align: center;
  color: gainsboro;
  font-weight: 400;
  font-size: 5vw;
  line-height: 4vw;
  border: none;
}

#partners-list {
  background: transparent;
  padding: 8vw 0 9vw 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#footer {
  width: 100%;
  aspect-ratio: 375 / 90;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background: white;
}

#footer > img {
  padding: 8vw 0 9vw 0;
  margin: 0 0 0 11vw;
  width: 34vw;
  aspect-ratio: 500 / 86;
  height: inherit;
}

#partners-list > li > img {
  width: 100%;
  height: inherit;
}

#partners-list > li {
  width: 25%;
  margin: 1vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#see-past > div > img {
  width: 82vw;
  margin: 0 0 0 0;
}

#footer-section {
  width: 40vw;
  padding: 0 0 0 0;
  margin: 0 0 0 8vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-section > h6 {
  width: 95%;
  text-align: start;
  color: #3e3e3e;
  margin: 0;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 4vw;
  border: none;
  margin-bottom: 1.9vw;
}

#footer-section > h6:nth-child(2) {
  display: none;
}

/* mobile menu */
.mobile-menu {
  width: 100%;
  aspect-ratio: 375 / 812;
  background: burlywood;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  position: fixed;
}

.mobile-menu-navbar {
  position: absolute;
  aspect-ratio: 351 / 184;
  width: 93.6%;
  top: 10%;
  left: 3.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-button-close {
  position: absolute;
  width: 6.4%;
  aspect-ratio: 1 / 1;
  top: 1%;
  left: 84.9%;
  border: none;
  background: url("../images/Icon - Cancel.svg");
  background-size: cover;
  background-position: center;
}

.mobile-menu-buttons {
  aspect-ratio: 251 / 24;
  width: 90%;
  color: red;
  font-weight: lighter;
  font-size: 6vw;
  line-height: 5vw;
  text-align: left;
  border: none;
  background: transparent;
}

/* desktop version */
@media (min-width: 1000px) and (orientation: landscape) {
  /* For desktop: */
  #container {
    width: 100%;
    aspect-ratio: 1440 / 2246;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #e5e5e5;
    background-image: url("../images/base-about-desktop.jpg");
    background-size: cover;
    background-position: center;
  }

  #header {
    width: 100%;
    aspect-ratio: 1440 / 105;
    background: transparent;
  }

  #nav-banner {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: #3e3e3e;
    border: 1px solid green;
  }

  #nav-banner-list {
    height: 100%;
    aspect-ratio: 210 / 25;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-left: 71%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
  }

  #nav-banner-list > li {
    color: white;
    font-weight: 300;
    font-size: 1.15vw;
    line-height: 112%;
  }

  #icon-face {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../images/face.png");
    background-size: cover;
    background-position: center;
  }

  #icon-twitter {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../images/twitter.svg");
    background-size: cover;
    background-position: center;
  }

  #nav-banner-facebook {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: transparent;
    border: 1px solid red;
  }

  #nav-banner-twitter {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: transparent;
    border: 1px solid red;
  }

  #nav-banner-language {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: transparent;
    border: 1px solid red;
  }

  #nav-banner-my-page {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: transparent;
    border: 1px solid red;
  }

  #nav-banner-logout {
    width: 100%;
    aspect-ratio: 1440 / 30;
    display: block;
    background: transparent;
    border: 1px solid red;
  }

  #navigation {
    width: 100%;
    aspect-ratio: 1440 / 75;
    background: white;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #navigation-logo {
    height: 100%;
    aspect-ratio: 300 /162;
    display: block;
    background: transparent;
    border: none;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
    margin-left: 14%;
  }

  #navigation-logo:hover {
    border: 0.1vw solid lightgray;
    transform: scale(1.05);
  }

  #navigation-list {
    height: 100%;
    aspect-ratio: 160 / 25;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-left: 15.8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
  }

  #navigation-list > li > a {
    color: #868686;
    font-weight: 700;
    font-size: 1vw;
    line-height: 112%;
    cursor: pointer;
    text-decoration: none;
  }

  #navigation-list > li:nth-child(1) > a {
    color: #f07f7e;
    font-size: 1.05vw;
  }

  #navigation-list > li > a:hover {
    color: #f07f7e;
    font-size: 1.05vw;
  }

  #navigation-cccampaing {
    height: 70%;
    padding: 0 2vw 0 2vw;
    margin: 0 0 0 5vw;
    border: 0.3vw solid green;
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 1vw;
    line-height: 270%;
  }

  #hamburg-menu {
    display: none;
  }

  #hamburg-menu-button {
    display: none;
  }

  #about {
    width: 100%;
    aspect-ratio: 1440 / 780;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../images/about-desktop.jpg");
    background-size: cover;
    background-position: center;
  }

  #about > h1 {
    width: 100%;
    margin: 8vw 0 5vw 0;
    text-align: center;
    font-weight: 300;
    font-size: 3.7vw;
    line-height: 4vw;
    color: #ec5242;
    font-family: Paytone One, sans-serif;
  }

  #about > h2 {
    display: none;
  }

  #about > p {
    width: 65%;
    padding: 2.5vw 5vw 2.5vw 5vw;
    margin: 0 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 1.8vw;
    color: #333;
    border: 0.2vw solid gray;
    background: white;
  }

  #about > p::after {
    content: "The Global Summit brings together the community of experts, academics, and activists who comprise the Creative Commons affiliate network in a different country every two years. This year, we hope to expand our invitation list including organizations and individuals who want to work with us on shared projects that advance the cause of the Commons, free culture and open knowledge. So if you're active and engaged in the worlds of open content and knowledge - free software advocates, wikipedians, Open knowledge, galleries, libraries, museums, archives, governments and foundations, lawyers, and activists - we hope you'll consider joining us this year to build a stronger, more vibrant commons together";
  }

  #about > h5 {
    width: 100%;
    margin: 3vw 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 2vw;
    color: #333;
  }

  #about > h6 {
    width: 100%;
    margin: 0 0 2vw 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 3vw;
    color: #333;
  }

  #logo-description {
    width: 100%;
    aspect-ratio: 1440 / 515;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0.2vw solid lightgray;
    background: white;
  }

  #logo-description > h2 {
    width: 100%;
    margin: 3vw 0 2vw 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.1vw;
    line-height: 4vw;
    color: #333;
  }

  #logo-description > p {
    width: 60%;
    margin: 0 0 3vw 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 1.8vw;
    color: #333;
  }

  #logo-description > img {
    width: 37vw;
    margin: 0 0 0 0;
    border: 0.2vw solid lightgray;
  }

  #see-past {
    width: 100%;
    aspect-ratio: 1440 / 620;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #see-past > h2 {
    width: 100%;
    margin: 3vw 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.1vw;
    line-height: 4vw;
    color: #333;
  }

  #see-past > p {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 4vw;
    color: #333;
  }

  #see-past > div {
    width: 100%;
    margin: 4vw 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
  }

  #footer > img {
    padding: 6vw 0 7vw 0;
    margin: 0 1vw 0 13.5vw;
    width: 20vw;
    aspect-ratio: 500 / 86;
    height: inherit;
    filter: invert(1);
  }

  #see-past > div > img {
    width: 31vw;
    margin: 0 0 0 0;
  }

  #partners {
    display: none;
  }

  #footer {
    position: absolute;
    width: 100%;
    aspect-ratio: 1440 / 245;
    top: 90%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #3e3e3e;
    border: none;
  }

  #footer-section {
    width: 50vw;
    padding: 5vw 0 7vw 0;
    margin: 0 0 0 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer-section > h6 {
    width: 95%;
    text-align: start;
    color: lightgray;
    margin: 0;
    font-weight: 700;
    font-size: 1vw;
    line-height: 1.9vw;
    border: none;
    margin-bottom: 1.9vw;
  }

  #footer-section > h6:nth-child(2) {
    display: inherit;
  }
}
